<div class="container">
  <h1>SoundCrowd</h1>
  <h2>Your music, your way</h2>
</div>

<%= link_to 'Facebook Login', '/auth/facebook'  %>
<a class="signup">Signup</a>
<p class="textbox">SoundCrowd is your place to like music, follow friends and make thousands of internet enemies</p>

<script>
backdrop()
</script>
