<div class="container">
  <h1>SoundCrowd</h1>
  <h2>Why be home when you could be here?</h2>
</div>

<%= link_to image_tag('facebook-button.png'), '/auth/facebook', class: "facebook-login" %>
<p class="textbox">Where do you see yourself tonight?<br>Check out local events happening in your area.</p>

<script>
backdrop()
</script>
