@import "bootswatch/united/variables";

@import "bootstrap-sprockets";
@import "bootstrap";


@import "bootswatch/united/bootswatch";



@import "vegas";
@import "fonts";

body {
  font-family: Raleway;
  font-weight: 900;
  color: #FFAE00;
  background: #000;
}

h1, h2, strong {
  margin: 5px 0;
  padding: 0;
  margin-right: 130px;
  line-height: 1em;
  text-align: right;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 1px rgba(#000, .3),
     1px 1px 1px rgba(#000, .3),
     0 0 10px #000;
}

h1 {
  font-size: 5.5em;
  letter-spacing: -10px;
  margin-bottom: -10px;
}

h1 strong {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 235px;
  opacity: .5;
  margin: 0;
}

h2 {
  opacity: .6;
  font-size: 1.7em;
}

p {
  font-size: 2em;
  font-color: #FFAE00;
}

.front-link {
  position: absolute;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  font-size: 13px;
  color: #fff;
  animation: pulse 4s infinite;

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.login {
  left: 15em;
  top: 8em;
}

.textbox {
  margin-left: 9.6em;
  margin-top: 10em;
  margin-right: 45em;
  font-size: 20px;
}

.signup {
  left: 25em;
  top: 8em;
}

.container {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.vegas-overlay {
  opacity: .2;
}

.vegas-timer-progress {
  background: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
